* {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(0deg, #8578EA 0.32%, #5C3BC4 45.33%, #4214AD 99.66%);
    box-shadow: 0px 4px 100px 0px rgba(0, 0, 0, 0.25);
    height: 90vh;
}

nav {
    margin-top: 300px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 137.507px;

}

h1 {
    font-family: 'Limelight', sans-serif;
    text-align: center;
    font-family: Limelight;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 20px;
    background: linear-gradient(91deg, #C5AEF2 1.91%, #A4E9F9 99.81%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    backdrop-filter: blur(89.19999694824219px);
}

h2 {
    color: #FFF;
    text-align: center;
    font-family: Jost;
    font-size: 30px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

h3 {
    color: #FFF;
    text-align: center;
    font-family: Jost;
    font-size: 30px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.wave {
    position: relative;
}

.txtServ {
    font-family: Limelight;
    font-size: 40px ;
    background: linear-gradient(92deg, #8578EA 0%, #7316BF 98.95%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    backdrop-filter: blur(89.19999694824219px);
}